$gorge-color-white: rgba(255,255,255,1);
$gorge-color-black: rgba(0,0,0,1);
$gorge-color-base: #333; // font
$gorge-color-base0: #8c98a6; // search box
$gorge-color-base1: #bfbfbf;
$gorge-color-base2: #e1e1e3; // border
$gorge-color-base3: #e8ebf1; // back
$gorge-color-base4: #f5f5f5; // panel header border

$gorge-color-base5: #6a6d70; // mini pressed
$gorge-color-base6: #a6a8b4; // mini color