$font-icon-font-family: dynamic(FontAwesome);

.fo-table-row{margin: 0;padding: 0;background: #fff;border-left: 1px solid #cacaca;border-top: 1px solid #cacaca}
.fo-table-row-th{
  width: 150px;
  padding: 0 5px 0 12px;
  color: #666;
  font-weight: normal;
  letter-spacing: -1px;
  white-space: nowrap;
  border-right: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  background-color: #f1f6ff;
}
.fo-table-row-th label.fo-required{margin: 0 0 0 -12px;padding: 0 5px 0 12px;background: url(../images/form/icon_required.png) no-repeat  5px 50%;}

.fo-table-row-td-title{
  padding: 10px;
  border-right: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}
.fo-table-row-td-title .x-component-default{
  font-size: 1em;
  font-weight: bold;
  letter-spacing: -1px;
  color: #03a9f4;
}

.fo-table-row-td{
  padding: 2px;
  border-right: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
  background-color: #f1f6ff;
}

// checkbox background
.fo-table-row-td .x-form-cb-wrap {
  background-color: white;
  vertical-align: top;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d0d0;
}

.fo-table-row-td .x-form-cb-default {
  margin-left: 5px;
}


.fo-table-row-td-noneborder{
  padding: 2px 5px 2px 12px;
}

.x-table-form-item {
  margin-bottom: 0px;
}

.eui-form-table .x-noborder-trbl {
  border-width: 1px !important;
}


.x-accordion-item .x-grid-header-ct {
  border-width: 1px 1px 1px !important;
}
/*필수 입력 필드에 대한 백그라운드.*/
.eui-form-table .x-form-text-wrap-invalid .x-form-text-default{
  background-color: #ddb9d1;
  background-image: none;
}

.eui-form-table .x-form-item-label-inner {
  display: inline-block;
  padding-left: 5px;
}

.eui-form-table .x-form-checkboxgroup-body.x-form-item-body-default {
  /*min-height: 32px;*/
  /*border-left: 1px solid #cacaca;*/
  /*border-top: 1px solid #cacaca;*/
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d0d0;
}

.eui-form-table .x-autocontainer-form-item, .x-anchor-form-item, .x-vbox-form-item, .x-table-form-item {
  margin-bottom: 0px !important;
}

.eui-form-table .x-form-display-field-default {
  min-height: 32px;
  font: 300 13px/17px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  color: #404040;
  padding-top: 5px;
  padding-left: 5px;
  margin-top: 0px !important;
  background-color: white;
}

.stat-tdstyle .x-grid-cell {
  border-style: solid;
  border-color: #e9e9e9;
  border-width: 1px 1px 0 0 !important;
}
.stat-tdstyle .x-grid-with-col-lines .x-grid-cell {
  border-style: solid;
  border-color: #e9e9e9;
  border-width: 0 1px 1px 0 !important;
}


/* eui.ux.table.TableCellMerge */
.table-cell-merge-table {
  color: #777;
  background-color: #eee;
  margin: 7px;
}
// table cells
// to do >> 일단 주석. 처리 컴파일 오류 발생.
//.table-cell-merge-table < td {
//  border: 1px solid navy;
//  height: 40px;
//  width: 70px;
//  text-align: center;
//  padding: 2px;
//}

/*
 * ui : euipanel
 *      panel 종류의 헤더를 없앰
 */
//.x-panel-euipanel{padding: 0;border: none;background: transparent;}
//.x-panel-header-euipanel {
//  font-size: 12px;
//  border: none;
//  background-image: none;
//  background-color: transparent;
//}
//
//.x-panel-header-euipanel-form {-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;}
//.x-panel-header-euipanel-horizontal {padding: 5px 0;}
//.x-panel-header-title-euipanel>.x-title-text-euipanel {
//  padding: 0 0 0 22px;
//  color: #666;
//  font-size: 14px;
//  font-weight: bold;
//  font-family: NG;
////  background: url("../resources/images/bullet_h2.png") no-repeat 0 50%;
//}
//.x-panel-euipanel.nonetitle .x-panel-header-title-euipanel>.x-title-text-euipanel {background: none;}
//.x-panel-body-euipanel {
//  color: #666;
//  font-size: 12px;
//  font-weight: normal;
//  font-family: NG;
//  border: none;
//  border-top: 1px solid #cacaca;
//  border-left: 1px solid #cacaca;
//  background: #fff;
//}
//.x-panel-body-euipanel .fo-table-row{margin: 0;padding: 0;background: #fff;border-left: 1px solid #cacaca;border-top: 1px solid #cacaca}
//.x-panel-body-euipanel .fo-table-row-th{
//  width: 150px;
//  padding: 0 5px 0 12px;
//  color: #666;
//  font-weight: normal;
//  /*letter-spacing: -1px;*/
//  white-space: nowrap;
//  border-right: 1px solid #cacaca;
//  border-bottom: 1px solid #cacaca;
//  background-color: #f1f6ff;
//}
//.x-panel-body-euipanel .fo-table-row-th label.fo-required{margin: 0 0 0 -12px;padding: 0 5px 0 12px;background: url(../images/customui/grid/icon_required.png) no-repeat  5px 50%;}
//.x-panel-body-euipanel .fo-table-row-td{padding: 2px;border-right: 1px solid #cacaca;border-bottom: 1px solid #cacaca}
///*readonly의 border제거.*/
//.x-panel-body-euipanel .x-form-readonly .x-form-trigger-wrap {
//  border: 1px solid rgba(243, 252, 249, 0.00);
//}

//x-panel-header
//x-header x-docked
//x-unselectable
//x-panel-header-default
//x-horizontal
//x-panel-header-horizontal
//x-panel-header-default-horizontal
//x-top
//x-panel-header-top
//x-panel-header-default-top
//x-docked-top
//x-panel-header-docked-top
//x-panel-header-default-docked-top
//x-box-layout-ct
